 <!DOCTYPE html>
 <html lang="en">
    
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel= "stylesheet" href="{{url_for('static', filename='style.css')}}">
     <title>Document</title>
     <style type="text/css">
        body {          
            min-height: 100%;
            background: url("{{ url_for('static', filename='netflix-background.jpg') }}") no-repeat center center fixed;
            box-shadow:inset 0 0 0 2000px rgba(26, 14, 19, 0.2);
            background-size: cover;
          }        
      </style>
 </head>
 <body>
    
    <header>
        <!-- Name of the webpage -->
        <div class="head">
            <h1><span style="color: orange">CINE</span>BUDD</h1>
        </div>
        <!-- NAVIGATION -->
        <div class="nav">
            <p>Your best <span style="color: orange;">BUDDY</span> to recommend Movies . . . .</p>
        </div>
        <!--    End of nav    -->
    </header>
    <hr style="color:orange; margin-left:11%; margin-right:10%;">
    <div class="container">
        <form action="/" method="POST">
            <div >
                    <label for="name">ENTER MOVIE</label>
                    <input class="inp" type="text" class="form-control" id="name" name="name" placeholder="Enter Movie Name">
                    <button class="btn" style="justify-content: center" type ="submit">SUBMIT</button>
            </div>
                <!-- <button class="btn" style="justify-content: center" type ="submit">SUBMIT</button>
                 -->
        </form>
    </div>
    
    {% block content %}
        <div>
            {% for datas in data %}
                <div class="output">
                    <!-- <img src="{{ datas['backdrop_path'] }}"  width="500" height="600"> -->
                    <img src="http://image.tmdb.org/t/p/w500{{ datas['poster_path'] }}" width="100" height="100">
                    <span>MOVIE_ID:{{ datas['id'] }}</span>
                    <!-- <div>{{ datas['poster_path'] }}</div> -->
                    <!-- <div>{{ datas['backdrop_path'] }}</div> -->
                    <h2>{{ datas['original_title'] }}</h2>
                     Description:
                    <span>{{ datas['overview'] }}</span>>
                </div>
            {% endfor %}
        </div>
    {% endblock content %}
 </body>
 </html>